   {% verbatim %}
    <section class="content-header">
      <h1>
        Minions list
        <small>select one to get information</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Minions</li>
      </ol>
    </section>
        <section class="content">

    <div class="btn-group" uib-dropdown keyboard-nav ng-if="!selectedMin">
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Select a minion <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li>
                <a ng-click="selectMin('barzilay.v.brsh.co');loadData(all=true)">barzilay.v.brsh.co</a>
            </li>
            <li ng-repeat="(name,stat) in minns[0]" >
                <a ng-click="selectMin(name);loadData(all=true)">
                    <i ng-if="minns[0][name] == true" class="fa fa-circle-o text-green"></i>
                    <i ng-if="minns[0][name] == false" class="fa fa-circle-o text-red"></i>
                        {{ name }}
                </a>
            </li>
            <li class="divider"></li>

        </ul>

    </div>

    <div class="row" ng-if="selectedMin">
        <!--CPU usage - as a % pie chart(Used Vs Free)-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">CPU usage</h3>
                </div>
                <div class="box-body">


                    <canvas style="width: 150px;height: 150px" id="doughnut" class="chart chart-doughnut" chart-labels="storage.cpuLegend" chart-data="storage.cpu"

                       </canvas>
                </div>
            </div>
        </div>
        <!--Memory Usage - used, cached etc. - Area Chart-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Memory usage</h3>
                </div>
                <div class="box-body">
                    <pre>{{ data.memory[0][selectedMin] | json }}</pre>
                </div>
            </div>
        </div>
        <!--Virtual Memory-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Virtual memory</h3>
                </div>
                <div class="box-body">
                    <pre>{{ data.vmemory[0][selectedMin] | json}}</pre>
                </div>
            </div>
        </div>
        <!--Logged in users, ip,location-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Online users</h3>
                </div>
                <div class="box-body">
                    <pre>{{ data.users[0][selectedMin] | json}}</pre>
                </div>
            </div>
        </div>
        <!--CPU info - Kernel,Operating system,uptime,hostname,number of cpus and proccesor info-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">HW & OS onfo</h3>
                </div>
                <div class="box-body">
                    <pre>{{ data.hwos[0][selectedMin] | json}}</pre>
                </div>
            </div>
        </div>
        <!--load average-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Load average</h3>
                </div>
                <div class="box-body">
                    <pre>{{ data.loadAvg[0][selectedMin] | json}}</pre>
                </div>
            </div>
        </div>
        <!--Internet Traffic-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Internet traffic</h3>
                </div>
                <div class="box-body">
                    <pre>{{ data.ifOps[0][selectedMin] | json}}</pre>
                </div>
            </div>
        </div>
        <!--Disk Reads/writes-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Disk Reads/writes</h3>
                </div>
                <div class="box-body">
                    <pre>{{ data.diskOps[0][selectedMin] | json}}</pre>
                </div>
            </div>
        </div>
        <!--Disk usage - each partition(size,used(in GB), available)-->
        <div class="col-xs-6">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Disk usage</h3>
                </div>
                <div class="box-body table-responsive no-padding">

                    <pre>{{ data.diskUsage[0][selectedMin] | json}}</pre>
                </div>
            </div>
        </div>
        <!--Test section!!!-->
        <div class="col-xs-12">
            <div class="box box-primary box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">TEST SECTION!!!</h3>
                    <button class="btn btn-block btn-primary" ng-click="repeater(getMemory, 10000);vmemhide=!vmemhide" type="button">Memory</button>
                    <button class="btn btn-block btn-primary" ng-click="repeater(getVMemory, 10000);memhide=!memhide" type="button">VMemory</button>
                    <button class="btn btn-block btn-primary" ng-click="repeater(getIfOps, 10000);ifopshide=!ifopshide" type="button">IfOps</button>
                    <button class="btn btn-block btn-primary" ng-click="repeater(getLoadAvg, 10000);loadavghide=!loadavghide" type="button">LoadAvg</button>
                    <button class="btn btn-block btn-primary" ng-click="repeater(getDiskOps, 10000);diskopshide=!diskopshide" type="button">DiskOps</button>
                    <button class="btn btn-block btn-primary" ng-click="repeater(getCpu, 10000);cpuhide=!cpuhide" type="button">CPU</button>
                </div>
                <div class="box-body table-responsive no-padding">

                    <pre>{{ storage.memory }}</pre>
                    <pre>{{ storage.vmemory }}</pre>
                    <pre>{{ storage.ifOps }}</pre>
                    <pre>{{ storage.loadAvg }}</pre>
                    <pre>{{ storage.diskOps }}</pre>
                    <pre>{{ storage.cpu }}</pre>

                </div>
            </div>
        </div>
    </div>
    </section>
    {% endverbatim %}